# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
ENV/
env/
.venv/

# VSCode settings
.vscode/

# MacOS
.DS_Store

# Logs
*.log

# Python packaging
*.egg-info/
dist/
build/

# IDEs
.idea/

# Pipenv
Pipfile.lock

# Coverage
.coverage
htmlcov/
*.cover

# Pytest cache
.pytest_cache/

# mypy cache
.mypy_cache/

# Ignore local database files if any (optional)
*.sqlite3
